# DEPENDENCIES ----------------------------------------------------------------
node_modules

# COMPILED --------------------------------------------------------------------
dist/
.rpt2_cache
report
!.gitkeep

# IDE & FILES -----------------------------------------------------------------

$RECYCLE.BIN/
.DS_Store
.idea
Thumbs.db
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
