# DEPENDENCIES ----------------------------------------------------------------
node_modules

# IDE & FILES -----------------------------------------------------------------
.vscode
.idea
*.min.*
*.lock
*.log
*.png
